.product-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.product-img img {
    max-width: 600px;
    width: 100%;
    height: auto;
}
.product-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    /* border: 1px solid black; */
}
.product-title {
    padding: 1rem;
}
.product-description {
    padding: 1rem;
}
.product-prices {
    display: flex;
    padding: 0 0 0 2rem;
}
.product-price {
    text-decoration: line-through;
    font-size: 1rem;
}
.product-discount {
    font-size: 2rem;
}
.cart-btn {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: black;
    margin-top: 30%;
    text-align: center;
    gap: 1rem;
    /* border: 1px solid black; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.count-div {
    display: flex;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.sum {
    border: none;
}
.minus {
    border: none;
}
.count {
    width: 3rem;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.addToCart {
    background-color: white;
    color: black;
    width: 50%;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
}
.rate-div {
    margin-left: 1rem;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-around; */
    gap: 2rem;
}
.sizes {
    display: flex;
    /* flex-direction: column; */
}
.size {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 1400px) {
    .product-side {
        width: 50%;
    }
    .product-img img {
        max-width: 500px;
        width: 100%;
        height: auto;
    }
}
@media (max-width: 1200px) {
    .product-img img {
        max-width: 600px;
        width: 100%;
        height: auto;
    }
    .product-side {
        width: 100%;
    }
}
