.category-card {
    min-height: 250px;
    min-width: 210px;
}
.page-title {
    margin-top: 2rem;
    text-align: center;
}
.products-in-crd {
    margin: 15px;
    padding: 20px;
}

.products-info {
    align-items: center;
    justify-content: center;
}
.products-image {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.category-image-div {
    min-width: 200px;
    min-height: 200px;
}
.category-products-image {
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.products-title {
    text-align: center;
    font-size: 1.5rem;
}
.products-price {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.2);
}
.prod-price {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.products-icon {
    display: flex;
    justify-content: space-around;
}
.pagination-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.page {
    margin-top: 1rem;
}
