.landing-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* top: 0;
    position: absolute;
    background-image: url("../../../Assets/banner1.png");
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px; */
}
.img-div {
    width: 100%;
}
.landing-style {
    width: 1296px;
    height: 500px;
}

@media (max-width: 992px) {
    .landing-style {
        width: 1296px;
        height: 300px;
    }
}
@media (max-width: 768px) {
    .landing-style {
        width: 1296px;
        height: 200px;
    }
}
