.category-title {
    color: black;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.category-title:hover {
    color: rgb(85, 85, 85) !important;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.custom-search {
    color: rgb(0, 0, 0, 0.5) !important;
}

.custom-search:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
    border: rgba(0, 0, 0, 0.1) !important;
    outline: rgba(0, 0, 0, 0.1) !important;
}

.search-bar-data {
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0.5rem;
    width: 100%;
    color: black;
    display: flex;
    gap: 1rem;
    z-index: -1;
}

.search-bar {
    margin-right: 30px;
}

.search-abs {
    /* position: absolute; */
    margin-left: 75%;
    width: 15%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search-title,
.search-price {
    color: black;
}

.search-img {
    width: 55px;
    height: 90px;
    object-fit: cover;
}

@media (max-width: 1686px) {
    .search-abs {
        margin-left: 70%;
        width: 20%;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }
}

@media (max-width: 1200px) {
    .search-abs {
        margin-left: 70%;
        width: 30%;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }
}

@media (max-width: 768px) {
    .search-abs {
        margin: auto;
        width: 80%;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }
}
